@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Tiempos;
  src: url(fonts/Tiempos/TiemposHeadline-Black.woff);
  font-weight: bold;
}

@font-face {
  font-family: Tiempos;
  src: url(fonts/Tiempos/TiemposHeadline-Medium.woff);
  font-weight: 500;
}

/* GLOBAL styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --v-height: 100vh;
  --color1: #f2a74b;
  --color2: #181818;
  --color3: #000;
  --color4: #111111;
  --color5: #ccc;
  --color6: #ebebeb;
  --color7: #fafafb;
  --font-size-sm: 12px;
  --font-size-nsm: 14px;
  --font-size-md: 20px;
  --font-size-xmd: 24px;
  --font-size-lg: 40px;
  --max-width: 1140px;
  --box-shadow-sm: 0 0 2px rgba(0, 0, 0, 0.12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tiempos, sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

section,
footer {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 50vh;
  padding: 80px 0 120px 0;
  margin: 0 auto;
}

section:nth-child(2n + 1) {
  background: var(--color2);
}

/* Utility classes */
.ctn {
  width: 100%;
  max-width: var(--max-width);
  height: inherit;
  padding: 12px 16px;
  margin: 0 auto;
}

.focus-text {
  color: var(--color1);
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.64px;
  line-height: 1.5;
  font-weight: normal;
  background: var(--color6);
  color: var(--color2);
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: var(--color7);
  box-shadow: var(--box-shadow-sm);
  z-index: 1000;
}

.header-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100%;
  max-height: 64px;
  object-fit: cover;
}

.header-nav {
  display: none;
}

.header-nav-item {
  display: inline-block;
  list-style: none;
  margin: 0 16px;
}

.header-nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--color2);
  font-family: Tiempos, serif;
  font-weight: 500;
  /* letter-spacing: 1.2px; */
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color1);
}

.menu {
  /* display: none; */
  position: relative;
  height: 100%;
  width: 56px;
  cursor: pointer;
  z-index: 1000;
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 2.498px;
  background: var(--color2);
  transition: 300ms;
  border-radius: 4px;
}

.menu::before {
  transform: translate(-50%, -4px);
}
.menu::after {
  transform: translate(-50%, 4px);
}

.menu.active::before {
  transform: translate(-50%, 0) rotate(45deg);
}
.menu.active::after {
  transform: translate(-50%, 0) rotate(-45deg);
}

.side-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--color7);
  transform: translateX(-100%);
  will-change: transform;
  transition: 460ms;
}

.side-menu.active {
  transform: translateX(0);
}

.side-menu-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-menu-nav {
  margin: 48px auto;
}
.side-menu-item {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 16px auto;
}

.side-menu-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-xmd);
  font-family: Tiempos, serif;
  font-weight: 500;
}

.side-menu-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-menu-socials-nav {
  width: 200px;
  height: 72px;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
  margin: 12px auto;
}

.side-menu-socials-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color2);
  text-align: center;
}

/* HOME styles */
.home {
  min-height: var(--v-height);
  padding-top: 120px;
  padding-bottom: 0;
  background: var(--color7);
}

.home-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-text-ctn,
.section-header {
  width: 100%;
  max-width: 560px;
  min-height: 200px;
  text-align: center;
  padding: 24px 16px 56px 16px;
  margin: 0 auto;
}

:is(.home-heading, .section-heading) {
  padding: 12px 0 32px 0;
}

.home-heading {
  font-size: calc(var(--font-size-lg) + 1rem);
}
.section-heading {
  font-size: var(--font-size-lg);
}

.home-banner-img {
  position: relative;
  width: 100%;
  min-height: 560px;
  background: var(--color5);
}

.about,
.feature,
.blog {
  min-height: var(--v-height);
}

:is(.about, .blog) .section-header {
  color: var(--color5);
}

.about-ctn,
.feature-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px 0 64px 0;
}

.about-text-box,
.about-img-bg {
  flex: 1 100%;
  width: 100%;
  min-height: 480px;
  color: var(--color6);
}

.about-text-box.dark {
  color: var(--color2);
}

.about-text-box {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.about-text-heading {
  font-size: calc(var(--font-size-lg) - 10px);
  margin-bottom: 24px;
}

.about-img-bg {
  position: relative;
  background: var(--color6);
}

.about-text {
  opacity: 0.6;
}

.ctn-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-bg.odd {
  order: 1;
}

.feature-box {
  flex: 1 100%;
  max-width: 100%;
  min-height: 240px;
  padding: 4px 24px 32px 24px;
  /* border: 1px solid var(--color2); */
}

.feature-icon-box {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  background: hsl(0, 20%, 89%);
  color: hsl(0, 20%, 9%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 32px 32px 4px 4px; */
  font-size: var(--font-size-nsm);
  margin: 0 auto;
}
.feature-box-heading {
  font-weight: 500;
  margin: 24px auto 8px auto;
}

.feature-box-text {
  font-size: 16px;
  opacity: 0.6;
}

.blog-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* background: var(--color4); */
}

.blog-card {
  flex: 1 100%;
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  background: var(--color6);
  margin: 16px;
  /* border: 2px solid var(--color6); */
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
}

.blog-card-img-box {
  position: relative;
  width: 100%;
  height: 272px;
  overflow: hidden;
}

.blog-card-text-box {
  padding: 18px 16px;
  flex: 1 auto;
  background: var(--color6);
}

.blog-card-heading {
  font-weight: 500;
  font-size: var(--font-size-md);
  color: rgb(114, 114, 114);
  margin: 4px 0 12px 0;
  text-decoration: none;
}

.blog-card-text-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.blog-card-text {
  font-size: 12px;
  text-align: center;
  color: rgb(114, 114, 114);
}

.section-header.newsletter {
  margin-top: 240px;
}

.newsletter-form {
  width: 100%;
  max-width: 480px;
  margin: 32px auto 0 auto;
}

.form-box {
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input,
.form-submit-btn {
  height: 48px;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 4px;
}

.form-input {
  width: 100%;
  padding: 8px 16px;
  margin-right: 4px;
}
.form-submit-btn {
  width: 140px;
  cursor: pointer;
}

.footer {
  min-height: 40vh;
  font-size: 16px;
  padding: 64px 0 8px 0;
}

.footer-main-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px 0;
}

.footer-text-box {
  width: 100%;
  max-width: 380px;
  margin: 24px 0 56px 0;
}

.footer-type {
  max-width: 320px;
  font-size: calc(var(--font-size-lg) - 16px);
  margin: 16px 0;
}

.footer-nav {
  width: 100%;
  max-width: 220px;
  /* min-height: 360px; */
  /* border: 2px solid var(--color2); */
  display: flex;
  padding: 24px 0;
  margin: 8px;
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-list-heading {
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-nav-link {
  text-decoration: none;
  color: inherit;
  text-underline-offset: 2px;
  opacity: 0.8;
}

.footer-footer-div {
  width: 100%;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color2);
}

.footer-footer-div > * {
  margin-top: 12px;
}

.footer-note-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-link-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  margin: 0 16px 0 0;
}

@media (min-width: 768px) {
  :root {
    --v-height: 60vh;
  }
  .feature-ctn {
    text-align: start;
  }
  .feature-icon-box {
    margin: 0;
  }
  .feature-box {
    max-width: 50%;
  }
  .about-text-box {
    padding: 0 48px;
  }
  .blog-card {
    max-width: 45%;
  }
  .footer-note-ctn {
    justify-content: space-between;
  }
  .footer-nav {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 880px) {
  .header-nav {
    display: block;
  }
  .menu {
    display: none;
  }
  .about-ctn {
    text-align: start;
  }
  .about-img-bg.odd {
    order: 0;
  }
  .about-text-box {
    max-width: 45%;
  }
  .about-img-bg {
    max-width: 55%;
  }
  .feature-box {
    max-width: 32%;
  }
}

@media (min-width: 1140px) {
  .blog-card {
    max-width: 30%;
  }

  .footer-nav {
    align-items: flex-start;
    justify-content: center;
  }
}
