/* Global variables */
:root {
  --color1: #f2a74b;
  --color2: #fff;
  --color3: #000;
  --color4: #f2f2f2;
  --box-shadow-sm: 0 0 2px rgba(0, 0, 0, 0.12);
}

@font-face {
  src: url(fonts/Poppins/Poppins-Regular.ttf);
  font-family: Poppins;
  font-weight: normal;
}
@font-face {
  src: url(fonts/Poppins/Poppins-Bold.ttf);
  font-family: Poppins;
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  background: var(--color4);
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: #222;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 90%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-img {
  display: inline-block;
  width: 254px;
  height: 254px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
  transition: 400ms;
  margin: 16px;
}

.box-img:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
  border-radius: 20px;
}
