/* Global variables */
:root {
  --color1: #f2a74b;
  --color2: #fff;
  --color3: #000;
  --color4: #f2f2f2;
  --color5: #222;
  --font-root: 18px;
  --font-size-sm: 12px;
  --font-size-nsm: 14px;
  --font-size-md: 20px;
  --font-size-xmd: 24px;
  --font-size-lg: 40px;
  --max-width: 1140px;
  --border-radius-sm: 4px;
  --border-radius-md: 12px;
  --border-radius-sm: 16px;
  --box-shadow-sm: 0 0 2px rgba(0, 0, 0, 0.12);
}

@font-face {
  src: url(fonts/Poppins/Poppins-Regular.ttf);
  font-family: Poppins;
  font-weight: normal;
}
@font-face {
  src: url(fonts/Poppins/Poppins-ExtraBold.ttf);
  font-family: Recoleta;
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: var(--font-root);
  font-family: Poppins, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  background: var(--color2);
  color: #454545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Recoleta, sans-serif;
  font-weight: bold;
}

.ctn,
.ctn-md {
  width: 100%;
  max-width: var(--max-width);
  padding: 12px 16px;
  margin: 0 auto;
}

.ctn-md {
  padding: 12px 0;
}

.section {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  margin: 48px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color2);
  box-shadow: var(--box-shadow-sm);
  z-index: 1000;
}

.header-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-ctn {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-header {
  width: 100%;
  max-width: 640px;
  padding: 48px 0 24px 0;
}

.home-sub-heading {
  font-size: var(--font-size-xmd);
  color: #757575;
}
.home-heading {
  font-size: var(--font-size-lg);
  margin: 8px 0 32px 0;
}

.home-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-xmd);
}

.ctn-md .home-header,
.project-text-ctn {
  padding: 0 16px;
}

.projects-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
  padding: 24px 0;
}

.project-text-ctn,
.project-img-box,
.contact-text-ctn,
.contact-form,
.social-text-ctn,
.social-links-ctn {
  flex: 1 100%;
  max-width: 100%;
}

.project-img-box {
  position: relative;
  height: 480px;
}

.project-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.project-name {
  font-size: var(--font-size-md);
  margin: 8px 0;
  color: #757575;
}
.project-link {
  display: inline-block;
  position: relative;
  margin: 32px 0;
  text-decoration: none;
  color: inherit;
}
.home-link::before,
.project-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.6px;
  background: currentColor;
  border-radius: 100vh;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 300ms;
}

.home-link:hover::before,
.project-link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

.contact-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-text-ctn,
.contact-form {
  margin: 24px 0;
}

.contact-text-ctn {
  align-self: flex-start;
  margin-top: 40px;
  padding: 36px 0;
}

.input-container {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px auto;
}

.form-label {
  font-weight: bold;
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  margin: 2px 0;
  color: #454545;
}

.input-box,
.form-submit-btn {
  height: 48px;
  width: 100%;
  font-family: inherit;
  padding: 8px;
  outline: none;
  border: 1px solid #454545;
  border-radius: 4px;
}

.input-box:hover,
.input-box:focus,
.form-text-box:hover,
.form-text-box:focus {
  border: 1.2px solid #757575;
  outline: none;
}

.form-text-box {
  width: 100%;
  height: 120px;
  font-family: inherit;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #454545;
  border-radius: 4px;
}

/* .form-submit-btn {
  
} */

.social-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  position: relative;
  display: block;
  height: 56px;
  font-size: var(--font-size-xmd);
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.64px;
  color: inherit;
  padding: 4px 0;
  margin: 12px 0;
}

.social-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.64px;
  background: currentColor;
  border-radius: 100vh;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 400ms;
}

.social-link:hover::before {
  transform: scaleX(0);
  transform-origin: left;
}

.footer {
  width: 100%;
  background: #757575;
  padding-top: 160px;
  border-radius: 48px 48px 0 0;
}

.footer-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-box,
.footer-text {
  flex: 1 100%;
  width: 100%;
  padding: 16px;
}

@media (min-width: 760px) {
  :root {
    --font-size-sm: 14px;
    --font-size-nm: 14px;
    --font-size-md: 24px;
    --font-size-xmd: 32px;
    --font-size-lg: 56px;
  }

  .footer-text {
    max-width: 30%;
  }
  .section {
    min-height: 60vh;
  }
  .project-text-ctn,
  .project-img-box,
  .contact-text-ctn,
  .contact-form,
  .social-text-ctn,
  .social-links-ctn {
    max-width: 45%;
  }
  .project {
    min-height: 50vh;
  }
  .project-text-ctn {
    max-width: 40%;
  }
  .project-img-box,
  .contact-form,
  .social-link-ctn {
    max-width: 50%;
  }
  .project-two .project-text-ctn {
    order: 2;
  }
  .contact-text-ctn,
  .contact-form {
    margin: 12px 0;
  }
}

@media (min-width: 900px) {
  .contact-text-ctn {
    padding: 36px 20px 0 0;
  }
}
