/* Global variables */
:root {
  --color1: #f2a74b;
  --color2: #fff;
  --color3: #000;
  --color4: #f2f2f2;
  --color5: #222;
  --font-size-sm: 12px;
  --font-size-nm: 14px;
  --font-size-md: 24px;
  --font-size-xmd: 32px;
  --font-size-lg: 48px;
  --max-width: 1240px;
  --border-radius-sm: 4px;
  --border-radius-md: 12px;
  --border-radius-sm: 16px;
  --box-shadow-sm: 0 0 2px rgba(0, 0, 0, 0.12);
}

@font-face {
  src: url(fonts/Poppins/Poppins-Regular.ttf);
  font-family: Poppins;
}

@font-face {
  src: url(fonts/Recoleta/Recoleta-Bold.ttf);
  font-family: Recoleta;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  display: flex;
  background: var(--color4);
  color: #7b7b7b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Recoleta, sans-serif;
  font-weight: bold;
}

.ctn {
  width: 100%;
  max-width: var(--max-width);
  padding: 10px;
  margin: 0 auto;
}

.section-heading {
  font-size: var(--font-size-lg);
  text-align: center;
  margin: 12px auto 0 auto;
}

.card-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: var(--color2); */
  padding: 24px 8px;
  margin: 24px 4px;
}

.card-icon-box {
  width: 48px;
  height: 100%;
  padding: 12px;
}

.card-icon {
  position: relative;
  display: inline-block;
  color: rgb(243, 16, 38);
}
.card-icon.two {
  color: rgba(20, 16, 243);
}

.one {
  color: rgb(243, 16, 38);
}
.two {
  color: rgba(20, 16, 243);
}

.card-icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -40%);
  background: rgba(243, 16, 38, 0.064);
  border-radius: 50%;
  /* clip-path: polygon(50% 0, 100% 100%, 0% 100%); */
  /* clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%); */
}

.card-icon.two::before {
  transform: translate(-50%, -40%) rotate(0);
  background: rgba(20, 16, 243, 0.064);
}

.card-text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px auto;
}
.card-header {
  width: 100%;
  margin: 0 0 8px 0;
}
.card-heading {
  font-size: var(--font-size-md);
  margin: 4px 0;
  text-align: start;
}
.card-paragraph {
  text-align: start;
}

@media (min-width: 588px) {
  .card {
    max-width: 526px;
    padding: 24px 12px;
  }
}
@media (min-width: 900px) {
  .card {
    max-width: 356px;
    padding: 24px 12px;
    margin: 12px 24px;
  }
}
