@font-face {
  src: url(fonts/Poppins/Poppins-Regular.ttf);
  font-family: Poppins;
  font-weight: normal;
}
@font-face {
  src: url(fonts/Poppins/Poppins-Bold.ttf);
  font-family: Poppins;
  font-weight: bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgba(225, 225, 225, 0.8);
  --color2: rgba(225, 225, 225, 0.2);
  --color3: #555;
  --color4: rgb(23, 174, 164);
  --color5: rgba(23, 174, 164, 0.5);
  --box-shadow-sm: 0 0 2px rgba(0, 0, 0, 0.12);
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 0.92rem;
  display: flex;
  flex-wrap: wrap;
  background: #17aea4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -6deg,
    rgb(23, 174, 164) 47%,
    rgb(65, 36, 95) 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -6deg,
    rgb(23, 174, 164) 47%,
    rgb(65, 36, 95) 100%
  );
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: var(--color3);
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ctn {
  position: relative;
  width: 100%;
  max-width: 1160px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.card {
  width: 90%;
  max-width: 320px;
  height: 340px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-body {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 40px;
}

.card-body-tag {
  font-size: 0.68rem;
  color: rgb(185, 184, 184);
}

.card-body h3 {
  margin: 12px 0;
  font-size: 1.26rem;
}

.card-bottom {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-socials-nav {
  padding: 0 20px;
}

.card-nav-link {
  display: inline-block;
  padding: 0 8px;
  font-size: 20px;
  color: var(--color4);
  transition: 300ms;
}

.card-nav-link:hover {
  color: var(--color5);
}

.card-link-box {
  height: 100%;
  width: 72px;
  background: var(--color5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.card-link {
  color: var(--color4);
}
